@charset "utf-8";
/* CSS Document */

h2{font-family:"楷体";
	  color:#00F;
	  text-decoration:underline;
	  font-style:italic;}
h3{font-family:"：楷体_GB2312";
	  color:#00F;
	  text-decoration:underline;
	  font-style:italic;}
p{border-style:solid;
      border-color:#0C0;
      background-color:#CCC;}	  
