@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;}

body{background-color:#172d52;
       background-image:url(../images/images/deepblue.jpg);
       background-repeat:no-repeat;
       background-position:right top; }

h1{font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:#60F;
	text-transform:uppercase;
	text-align:center;
	padding:10px 0px 0px 0px;}
	

	
.right_bk{border-right:#FFF 1px solid;
          border-top:#FFF 1px solid;
		  margin-bottom:60px;}
		  
.left_bk{border-left:#FFF 1px solid;
         border-top:#FFF 1px solid;
		  margin-bottom:60px; }		  
		  
p{color:#FFF;}

p1{color:#FFF;}

.sea_bottom{width:60%;
               padding:0px 20% 0px 20%;/*上右下左*/
               height:10%;}
			   
.sea_left{width:80%;
          height:90%;
          float:left; 
		  }

.sea_right{width:20%; 
            height:90%;
           float:right; 
		 }
		   
		   
.ri-1{
      padding:3px 2px 2px 2px;/*上右下左*/
      }		   